#  Assignment 3

Q1. Write A program to accept Four digit number from user and count zero , odd and even digits from the entered number

In [3]:
a = 0
b = 0
c = 0
num = input("Enter a four digit number ")
l=len(num)
if l != 4:
    print("Wrong input")
else:
    for i in num:
        if int(i) == 0:
            a= a+1
        elif int(i)%2!=0:
            b= b+1
        elif int(i)%2==0:
            c=c+1
print('Number of zeroes',a)
print('Number of odds',b)
print('Number of even',c)

Enter a four digit number 0123
Number of zeroes 1
Number of odds 2
Number of even 1

Q2. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [63]:
a= 0
for a in range(1500,2700):
    if(a%7==0 and a%5==0):
        print(a)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

Q.Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor [ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ] Expected Output : 60Â°C is 140 in Fahrenheit 45Â°F is 7 in Celsius

In [11]:
a=input("Please enter temperature")
b=input("Please enter unit of temp C or F")

if b=='C':
    d=((int(a)*9)/5)+32
    print(d)
elif b=='F':
    e=((int(a)-32)/9)*5
    print(e)

Please enter temperature45
Please enter unit of temp C or FF
7.222222222222222

Q.4 Write a Python program that accepts a word from the user and reverse it.

In [8]:
a= input("enter a word")
b=a[::-1]
b

enter a word1234

'4321'

Q.5 Write a Python program to get the Fibonacci series between 0 to 50. Go to the editor Note : The Fibonacci Sequence is the series of numbers : 0, 1, 1, 2, 3, 5, 8, 13, 21, .... Every next number is found by adding up the two numbers before it. Expected Output : 1 1 2 3 5 8 13 21 34

In [23]:
a = 0
b = 1
print(a)
print(b)
for i in range(2,50):
    c = a + b
    a = b
    b = c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

Q.6 Write a Python program to check whether an alphabet is a vowel or consonant.

In [ ]:
ch = str(input('Enter the character'))
if(ch == 'a' or ch == 'i' or ch == 'e' or ch == 'o' or ch == 'u'):
    print(ch, 'is vowel')
else:
    print(ch,'is consonant')

Q.7 Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return

In [28]:
a= int(input("enter num1 "))
b= int(input("enter num2 "))
c=a+b
if(c>=15 and c<=20):
    print(c)
else:
    print("not between 15-20")

enter num1 9
enter num2 13
not between 15-20

Q.8 Write a program to accept â€˜nâ€™ numbers from user , store these numbers into an array. Find out maximum and minimum number from an Array.

In [29]:
a= int(input("Number of inputs: "))
b=[]
for i in range(0,a+1):
    c=int(input(i))
    b.append(c)
print(b)

print("Minimium value is:",min(b))
print("Max value is :",max(b))

Number of inputs: 5
078
198
267
354
434
523
[78, 98, 67, 54, 34, 23]
Minimium value is: 23
Max value is : 98

Q.9 Write a menu driven program that shows the working of a library. The menu option should be --ADD BOOK INFORMATION --DISPLAY BOOK INFORMATION --LIST ALL BOOKS OF GIVEN AUTHOR --LIST THE COUNT OF BOOKS IN THE LIBRARY --EXIT

In [ ]:
def Book_info(a, b):  
    int=input("Book Name")
    int=input("Author Name")
def Dispay_info(a, b):  
    difference = a - b  
    print(a, "-", b, "=", difference)  

def Author(a, b):  
    product = a * b  
    print(a, "x", b, "=", product)  
def Total_count(a, b):  
    division = a / b  
    print(a, "/", b, "=", division)
    
print('welcome to Swappy Librery')
while True:  
    print("MENU")  
    print("1. ADD BOOK INFORMATION ")  
    print("2. DISPLAY BOOK INFORMATION ")  
    print("3. LIST ALL BOOKS OF GIVEN AUTHOR")  
    print("4. LIST THE COUNT OF BOOKS IN THE LIBRARY")  
    print("5. Exit")  
    users_choice = int(input("\nEnter your Choice: "))

welcome to Swappy Librery
MENU
1. ADD BOOK INFORMATION
2. DISPLAY BOOK INFORMATION
3. LIST ALL BOOKS OF GIVEN AUTHOR
4. LIST THE COUNT OF BOOKS IN THE LIBRARY
5. Exit

Enter your Choice: 1
MENU
1. ADD BOOK INFORMATION
2. DISPLAY BOOK INFORMATION
3. LIST ALL BOOKS OF GIVEN AUTHOR
4. LIST THE COUNT OF BOOKS IN THE LIBRARY
5. Exit

Q.10 Write a program to accept â€˜nâ€™ numbers from user , store these numbers into an array and sort the numbers of an array using function.

In [5]:
a= int(input("Number of inputs: "))
b=[]
for i in range(0,a+1):
    c=int(input(i))
    b.append(c)
print(b)

c= sorted(b)
print(c)

Number of inputs: 3
0100
112
2102
33456
[100, 12, 102, 3456]
[12, 100, 102, 3456]

Q.11 Write a program to accept customer details such as : Account_no, Name, Balance in Acount, Assume Maximum 20 Customer In the bank. Write a function to print the account no and name of each customer with balance below rs 100.

In [23]:
class bank:
    def accept_details():
        acc_no= int(input("enter acc. no"))
        name=input("enter name")
        balance=int(input("enter acc. balance"))
    def display_details():
            print("acc. no ",acc_no)
            print("name ",name)
            print("balance ",balance)

SyntaxError: invalid syntax (Temp/ipykernel_13732/1741083123.py, line 11)

Q.12  Write a program to accept 5 names from user and store these names into an array sort these array element in alphabetical order.

In [25]:
name=(input("enter names"))
lst=[]
for i in range(0,5):
    c=(input(i))
    lst.append(c)
print(lst)

c= sorted(lst)
print(c)

enter namesswappy
0pappu
1sagar
2shrikant
3ramdas
4shalini
['pappu', 'sagar', 'shrikant', 'ramdas', 'shalini']
['pappu', 'ramdas', 'sagar', 'shalini', 'shrikant']

 Q.13 Write a program to calculate the sum of digits of a given number.

In [1]:
def getSum(n):
  
    sum = 0
    while (n != 0):
  
        sum = sum + int(n % 10)
        n = int(n/10)
  
    return sum
n =int(input("Enter a no."))
print(getSum(n))

Enter a no.12345
15

Q.14
Write a program to calculate the sum of
first digit and last digit of a given number

In [2]:
n= int(input("enter a no."))
num=str(n)
first=int(num[0])
last=int(num[-1])
print("sum of 1st and last digit is ",first+last)

enter a no.3456
sum of 1st and last digit is  9

Q.15 Write a program to accept a string from user , delete all vowels from the string and display the result.

In [3]:
print("Enter the String: ")
text = input()

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
newtext = ""
textlen = len(text)

for i in range(textlen):
    if text[i] not in vowels:
        newtext = newtext + text[i]

print("\nString after removing Vowels: ")
text = newtext
print(text)

Enter the String:
swappy

String after removing Vowels:
swppy

Q.16 Write a program to accept a string value from the user and accept a char value from the user and and find out the total occurrence of char value in the string value.