In [1]:
#1
for i in range(1,6):
    for j in range (1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [2]:
#2
for i in range (1,6):
    for j in range (1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
#3
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end=" ")
    print()
for i in range (5,0,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
#4
for i in range (5,0,-1):
    for j in range (1,i+1):
        print(j,end=" ")
    print()
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
#5
for i in range (1,6):
    for j in range (5,i-1,-1):
        print(j,end=' ')
    print()
for i in range (1,6):
    for j in range (i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [16]:
#6
space=6
for i in range(1,6):
    print(" "*(space-i) ,end=" ")
    for j in range (1,i+1):
        print(j,end=" ")
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5

In [26]:
#7 & 8
for i in range (1,6):
    for j in range (5,i-1,-1):
        print(j,end=" ")
    print()
for i in range (5,0, -1):
    for j in range (5,i-1,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [32]:
#9
for i in range (5,0,-1):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [37]:
#10
n=int(input("enter a no."))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print()

enter a no.5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [31]:
#11
for i in range (1,6):
    for j in range (i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [45]:
#12
for  i in range (1,6):
    for j in range (1,i+1):
        print(i,end=" ")
        i+=5
    print()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [30]:
#13

[3, 9, 15, 21, 3, 8, 19, 57]